# Created by .gitignore support plugin (hsz.mobi)
/.idea
/admin
/cache
/composer.lock
/composer.phar
/docs/development/
/docs/wiki.core/
/fitbit.log
/images/avatars/*.jpg
/images/badges/*.png
/images/badges/75px/*.png
/images/badges/100px/*.png
/images/badges/125px/*.png
/images/badges/300px/*.png
/log.archives/
/phpdoc.xml
/tcx
/Thumbs.db
/ux/bower_components/
config.def.php
config.inc.php
/vendor
*.css.map
/dev/index.php
/dev/git-bump-version/
/dev/phpunit.phar
/dev/composer.phar
/dev/.lastChangeLog
/binaries/
/nxfitbit.iml
/ux/sites.json
/dev/git-changelog/
/bundle/vendor/*/*/.gitattributes
/bundle/vendor/*/*/.gitignore
/bundle/vendor/*/*/test*/
/bundle/vendor/*/*/.gitmodules
/bundle/vendor/*/*/.php_cs
/bundle/vendor/*/*/.travis.yml
/bundle/vendor/*/*/Makefile
/bundle/vendor/*/*/phpunit.xml
/bundle/vendor/*/*/CHANGELOG.md
/bundle/vendor/*/*/UPGRADING.md
/bundle/vendor/*/*/doc*/
/bundle/vendor/*/*/build/
/bundle/vendor/*/*/examples/
/bundle/bowser/*/test*/
/bundle/bowser/*/bower.json
/bundle/bowser/*/.bower.json
/bundle/bowser/*/examples/
/bundle/bowser/*/CHANGELOG.md
/bundle/bowser/*/UPGRADING.md
/bundle/bowser/*/doc*/
/bundle/bowser/*/build.log
/bundle/bowser/*/package.json
/bundle/bowser/*/gulpfile.js
/bundle/bowser/tether/src/
/bundle/bowser/*/component.json
/bundle/bowser/simpleWeather/simpleweather.jquery.json
/bundle/bowser/*/CODE_OF_CONDUCT.md
/bundle/bowser/*/CONTRIBUTING.md
/bundle/bowser/*/History.md
/bundle/bowser/raven-js/plugins/
/bundle/bowser/raven-js/src/
/bundle/bowser/raven-js/typescript/
/bundle/bowser/raven-js/vendor/
/bundle/bowser/raven-js/template/
/bundle/bowser/raphael/dev/
/bundle/bowser/raphael/yarn.lock
/bundle/bowser/polymer/explainer/
/bundle/bowser/polymer/src/
/bundle/bowser/*/*.coffee
/bundle/bowser/*/install.json
/bundle/bowser/*/.bowerrc
/bundle/bowser/*/.gitattributes
/bundle/bowser/*/.jshintrc
/bundle/bowser/*/.editorconfig
/bundle/bowser/morris.js/.gitignore
/bundle/bowser/morris.js/.travis.yml
/bundle/bowser/morris.js/bower.travis.json
/bundle/bowser/morris.js/Gruntfile.js
/bundle/bowser/morris.js/spec/
/bundle/bowser/morris.js/lib/
/bundle/bowser/morris.js/less/
/bundle/bowser/moment/templates/
/bundle/bowser/moment/min/
/bundle/bowser/moment/locale/
/bundle/bowser/moment/src/
/bundle/bowser/*/.eslintrc.js
/bundle/bowser/*/circle.yml
/bundle/bowser/*/ISSUE_TEMPLATE.md
!/ux/css/style.css.map
/bundle/bowser/leaflet.markercluster/src/
/bundle/bowser/jquery/external/
/bundle/bowser/leaflet.markercluster/build/
/bundle/bowser/jquery/src/
/bundle/bowser/fontawesome/HELP-US-OUT.txt
/bundle/bowser/fontawesome/.gitignore
/bundle/bowser/fontawesome/.npmignore
/bundle/bowser/Flot/.travis.yml
/bundle/bowser/Flot/NEWS.md
/bundle/bowser/Flot/API.md
/bundle/bowser/Flot/PLUGINS.md
/bundle/bowser/Flot/.gitignore
/bundle/bowser/Flot/FAQ.md
/bundle/bowser/Flot/Makefile
/bundle/bowser/chart.js/MAINTAINING.md
/bundle/bowser/chart.js/config.jshintrc
/bundle/bowser/chart.js/src/
/bundle/bowser/chart.js/thankyou.md
/bundle/bowser/chart.js/.eslintignore
/bundle/bowser/chart.js/composer.json
/bundle/bowser/chart.js/.eslintrc
/bundle/bowser/chart.js/samples/
/bundle/bowser/bower-jquery-easyPieChart/src/
/bundle/bowser/bootstrap/Gruntfile.js
/bundle/bowser/bootstrap/Gemfile.lock
/bundle/bowser/bootstrap/Gemfile
/bundle/bowser/bootstrap/sache.json
/bundle/bowser/bootstrap/js/.babelrc
/bundle/bowser/bootstrap/grunt/
/bundle/bowser/bootstrap/nuget/
/bundle/bowser/bootstrap/js/.eslintrc.json
/bundle/bowser/bootstrap/scss/
