# Created by .gitignore support plugin (hsz.mobi)
*.bat
*.css.map
/.gtm/
/.idea
/binaries/
/bundle/bower/*/*.coffee
/bundle/bower/*/.bower.json
/bundle/bower/*/.bowerrc
/bundle/bower/*/.editorconfig
/bundle/bower/*/.eslintignore
/bundle/bower/*/.eslintrc
/bundle/bower/*/.eslintrc.js
/bundle/bower/*/.gitattributes
/bundle/bower/*/.gitignore
/bundle/bower/*/.jshintrc
/bundle/bower/*/.npmignore
/bundle/bower/*/.travis.yml
/bundle/bower/*/API.md
/bundle/bower/*/book.json
/bundle/bower/*/bower.json
/bundle/bower/*/bower.travis.json
/bundle/bower/*/build.log
/bundle/bower/*/CHANGELOG.md
/bundle/bower/*/circle.yml
/bundle/bower/*/CODE_OF_CONDUCT.md
/bundle/bower/*/component.json
/bundle/bower/*/composer.json
/bundle/bower/*/config.jshintrc
/bundle/bower/*/CONTRIBUTING.md
/bundle/bower/*/doc*/
/bundle/bower/*/examples/
/bundle/bower/*/FAQ.md
/bundle/bower/*/Gemfile
/bundle/bower/*/Gemfile.lock
/bundle/bower/*/Gruntfile.js
/bundle/bower/*/gulpfile.js
/bundle/bower/*/HELP-US-OUT.txt
/bundle/bower/*/History.md
/bundle/bower/*/install.json
/bundle/bower/*/ISSUE_TEMPLATE.md
/bundle/bower/*/MAINTAINING.md
/bundle/bower/*/Makefile
/bundle/bower/*/NEWS.md
/bundle/bower/*/package.json
/bundle/bower/*/PLUGINS.md
/bundle/bower/*/sache.json
/bundle/bower/*/test*/
/bundle/bower/*/thankyou.md
/bundle/bower/*/UPGRADING.md
/bundle/bower/*/yarn.lock
/bundle/bower/bootstrap/grunt/
/bundle/bower/bootstrap/Gruntfile.js
/bundle/bower/bootstrap/js/.babelrc
/bundle/bower/bootstrap/js/.eslintrc.json
/bundle/bower/bootstrap/nuget/
/bundle/bower/bootstrap/scss/
/bundle/bower/bower-jquery-easyPieChart/src/
/bundle/bower/chart.js/samples/
/bundle/bower/chart.js/src/
/bundle/bower/jquery/external/
/bundle/bower/jquery/src/
/bundle/bower/leaflet.markercluster/build/
/bundle/bower/leaflet.markercluster/src/
/bundle/bower/moment/locale/
/bundle/bower/moment/min/
/bundle/bower/moment/src/
/bundle/bower/moment/templates/
/bundle/bower/morris.js/less/
/bundle/bower/morris.js/lib/
/bundle/bower/morris.js/spec/
/bundle/bower/polymer/explainer/
/bundle/bower/polymer/src/
/bundle/bower/raphael/dev/
/bundle/bower/raven-js/plugins/
/bundle/bower/raven-js/src/
/bundle/bower/raven-js/template/
/bundle/bower/raven-js/typescript/
/bundle/bower/raven-js/vendor/
/bundle/bower/seiyria-bootstrap-slider/dependencies/
/bundle/bower/seiyria-bootstrap-slider/scripts/
/bundle/bower/seiyria-bootstrap-slider/src/
/bundle/bower/seiyria-bootstrap-slider/tpl/
/bundle/bower/simpleWeather/simpleweather.jquery.json
/bundle/bower/tether/src/
/bundle/vendor/*/*/.gitattributes
/bundle/vendor/*/*/.gitignore
/bundle/vendor/*/*/.gitmodules
/bundle/vendor/*/*/.php_cs
/bundle/vendor/*/*/.scrutinizer.yml
/bundle/vendor/*/*/.travis.yml
/bundle/vendor/*/*/build/
/bundle/vendor/*/*/CHANGELOG.md
/bundle/vendor/*/*/docs/
/bundle/vendor/*/*/examples/
/bundle/vendor/*/*/Makefile
/bundle/vendor/*/*/phpunit.xml
/bundle/vendor/*/*/test/
/bundle/vendor/*/*/tests/
/bundle/vendor/*/*/UPGRADING.md
/cache
/composer.json
/composer.lock
/config/rewards.inc.php
/dev/.lastChangeLog
/dev/composer.phar
/dev/git-bump-version/
/dev/git-changelog/
/dev/index.php
/dev/phpunit.phar
/docs/development/
/docs/wiki.core/
/fitbit.log
/images/avatars/*.jpg
/images/avatars/*.png
/images/badges/*.png
/images/badges/100px/*.png
/images/badges/125px/*.png
/images/badges/300px/*.png
/images/badges/75px/*.png
/lib/Core/Rewards/Modules/Private/*.php
/log.archives/
/nxfitbit.iml
/phpdoc.xml
/rpg.php
/tcx
/Thumbs.db
/ux/config.inc.php
/ux/img/xplevels/*.png
!/ux/img/xplevels/healer.png
!/ux/img/xplevels/mage.png
!/ux/img/xplevels/rogue.png
!/ux/img/xplevels/warrior.png
/ux/img/xplevels/*.psd
/ux/sites.json
config/config.def.php
config/config.inc.php
