# Created by .gitignore support plugin (hsz.mobi)
.idea
config.inc.php
admin
images/badges/*.png
images/badges/*/*.png
images/avatars/*.jpg
tcx/
composer.phar
composer.lock
vendor
composer.json
fitbitphp-library