<script>
    var requireJS = [];

    loadJS(requireJS, "js/views/journey.js");
    setUpBreadcrumb(['Dashboard'], 'Journey');
</script>

<div class="animated fadeIn">

    <div class="row" id="NoJourney">
        <div class="col-12">

            <div class="card">
                <div class="card-header">No Journey</div>
                <div class="card-block">You can setup a journey from Account->Settings.</div>
            </div>

        </div>
    </div>

    <div class="row" id="Journey">
        <div class="col-12 col-md-7">
            <div class="card">
                <div class="card-header" id="JourneyName"></div>
                <div class="card-block" id="JourneyBlock"></div>
                <div class="card-footer" id="JourneyFooter">
                    <div class="progress progress-xs my-3">
                        <div id="JourneyProgress" class="progress-bar bg-danger" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header" id="JourneyLegName"></div>
                <div class="card-block" id="JourneyLegBlock">

                </div>
                <div class="card-footer" id="JourneyLegFooter"></div>
            </div>
        </div>
    </div>
</div>
