<script>
    var requireJS = ["bower_components/simpleWeather/jquery.simpleWeather.min.js"];

    loadJS(requireJS, "js/views/main.js");
    loadCSS("css/bucket-ico-fonts.css");
</script>

<div class="animated fadeIn">
    <div class="row">
        <!--weather panel-->
        <div class="col-md-7">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-success">
                        <div class="card-header">
                            Weather Forecast
                        </div>
                        <div class="card-block" id="weatherPanel">
                            <div class="row weather-full-info">
                                <div class="col-md-3 today-status">
                                    <h1 id="frcstTodayDay">Today</h1>
                                    <i id="frcstTodayIco" class="ico-weather"></i>
                                    <div id="frcstToday" class="degree">0</div>
                                </div>
                                <div class="col-md-9">
                                    <ul>
                                        <li>
                                            <h2 id="frcstOneDay"></h2>
                                            <i id="frcstOneIco" class="ico-weather text-primary"></i>
                                            <div id="frcstOne" class="statistics">0</div>
                                        </li>
                                        <li>
                                            <h2 id="frcstTwoDay"></h2>
                                            <i id="frcstTwoIco" class="ico-weather text-danger"></i>
                                            <div id="frcstTwo" class="statistics">0</div>
                                        </li>
                                        <li>
                                            <h2 id="frcstThreeDay"></h2>
                                            <i id="frcstThreeIco" class="ico-weather text-info"></i>
                                            <div id="frcstThree" class="statistics">0</div>
                                        </li>
                                        <li>
                                            <h2 id="frcstFourDay"></h2>
                                            <i id="frcstFourIco" class="ico-weather text-success"></i>
                                            <div id="frcstFour" class="statistics">0</div>
                                        </li>
                                        <li>
                                            <h2 id="frcstFiveDay"></h2>
                                            <i id="frcstFiveIco" class="ico-weather text-warning"></i>
                                            <div id="frcstFive" class="statistics">0</div>
                                        </li>
                                        <li>
                                            <h2 id="frcstSixDay"></h2>
                                            <i id="frcstSixIco" class="ico-weather"></i>
                                            <div id="frcstSix" class="statistics">0</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <img src="img/local/default.jpg" height="243" width="944" alt="" style="margin-left: -20px;margin-top: 20px;margin-bottom: -20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-inverse card-info">
                        <div class="card-block" id="gaugeStepsPanel">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-speech"></i>
                            </div>
                            <div id="gaugeStepsText" class="h4 mb-0">972</div>
                            <small class="text-muted text-uppercase font-weight-bold">Comments</small>
                            <div class="progress progress-white progress-xs mt-3">
                                <div id="gaugeStepsProgress" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block" id="gaugeFloorsPanel">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-speech"></i>
                            </div>
                            <div id="gaugeFloorsText" class="h4 mb-0">972</div>
                            <small class="text-muted text-uppercase font-weight-bold">Comments</small>
                            <div class="progress progress-white progress-xs mt-3">
                                <div id="gaugeFloorsProgress" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-inverse card-danger">
                        <div class="card-block" id="gaugeDistancePanel">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-speech"></i>
                            </div>
                            <div id="gaugeDistanceText" class="h4 mb-0">972</div>
                            <small class="text-muted text-uppercase font-weight-bold">Comments</small>
                            <div class="progress progress-white progress-xs mt-3">
                                <div id="gaugeDistanceProgress" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <div class="card card-outline-success">
                <div class="card-header">
                    <span id="CurrentDays">Streak</span>
                </div>
                <div class="card-block" id="StreakGoals">
                    <strong>Your Average Streak</strong>
                    <p class="text-muted" id="AverageDays"></p>
                    <div class="progress progress-xs my-3">
                        <div id="AverageDaysProgress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <strong>Your Last Streak</strong>
                    <p class="text-muted" id="LastDays"></p>
                    <div class="progress progress-xs my-3">
                        <div id="LastDaysProgress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <strong>Your Longest Streak</strong>
                    <p class="text-muted" id="LongestDays"></p>
                    <div class="progress progress-xs my-3">
                        <div id="LongestDaysProgress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
